This is the jupyter notebook used to solve scaler's business case of delhivery

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as mpl
import re
import sklearn
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split

C:\Users\Narsingha.Addepalli\Anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
#mpl.get_backend()

'module://matplotlib_inline.backend_inline'

In [41]:
!pip install nbconvert

Requirement already satisfied: nbconvert in c:\users\narsingha.addepalli\anaconda3\lib\site-packages (6.1.0)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\narsingha.addepalli\anaconda3\lib\site-packages (from nbconvert) (1.4.3)
Requirement already satisfied: pygments>=2.4.1 in c:\users\narsingha.addepalli\anaconda3\lib\site-packages (from nbconvert) (2.10.0)
Requirement already satisfied: nbformat>=4.4 in c:\users\narsingha.addepalli\anaconda3\lib\site-packages (from nbconvert) (5.1.3)
Requirement already satisfied: mistune<2,>=0.8.1 in c:\users\narsingha.addepalli\anaconda3\lib\site-packages (from nbconvert) (0.8.4)
Requirement already satisfied: jupyter-core in c:\users\narsingha.addepalli\anaconda3\lib\site-packages (from nbconvert) (4.8.1)
Requirement already satisfied: entrypoints>=0.2.2 in c:\users\narsingha.addepalli\anaconda3\lib\site-packages (from nbconvert) (0.3)
Requirement already satisfied: jinja2>=2.4 in c:\users\narsingha.addepalli\anaconda3\lib\site-packages (from nbconvert) (2.11.3)
Requirement already satisfied: traitlets>=5.0 in c:\users\narsingha.addepalli\anaconda3\lib\site-packages (from nbconvert) (5.1.0)
Requirement already satisfied: defusedxml in c:\users\narsingha.addepalli\anaconda3\lib\site-packages (from nbconvert) (0.7.1)
Requirement already satisfied: testpath in c:\users\narsingha.addepalli\anaconda3\lib\site-packages (from nbconvert) (0.5.0)
Requirement already satisfied: bleach in c:\users\narsingha.addepalli\anaconda3\lib\site-packages (from nbconvert) (4.0.0)
Requirement already satisfied: jupyterlab-pygments in c:\users\narsingha.addepalli\anaconda3\lib\site-packages (from nbconvert) (0.1.2)
Requirement already satisfied: nbclient<0.6.0,>=0.5.0 in c:\users\narsingha.addepalli\anaconda3\lib\site-packages (from nbconvert) (0.5.3)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\narsingha.addepalli\anaconda3\lib\site-packages (from jinja2>=2.4->nbconvert) (1.1.1)
Requirement already satisfied: jupyter-client>=6.1.5 in c:\users\narsingha.addepalli\anaconda3\lib\site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert) (6.1.12)
Requirement already satisfied: nest-asyncio in c:\users\narsingha.addepalli\anaconda3\lib\site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert) (1.6.0)
Requirement already satisfied: async-generator in c:\users\narsingha.addepalli\anaconda3\lib\site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert) (1.10)
Requirement already satisfied: pyzmq>=13 in c:\users\narsingha.addepalli\anaconda3\lib\site-packages (from jupyter-client>=6.1.5->nbclient<0.6.0,>=0.5.0->nbconvert) (22.2.1)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\narsingha.addepalli\anaconda3\lib\site-packages (from jupyter-client>=6.1.5->nbclient<0.6.0,>=0.5.0->nbconvert) (2.8.2)
Requirement already satisfied: tornado>=4.1 in c:\users\narsingha.addepalli\anaconda3\lib\site-packages (from jupyter-client>=6.1.5->nbclient<0.6.0,>=0.5.0->nbconvert) (6.1)
Requirement already satisfied: pywin32>=1.0 in c:\users\narsingha.addepalli\anaconda3\lib\site-packages (from jupyter-core->nbconvert) (228)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in c:\users\narsingha.addepalli\anaconda3\lib\site-packages (from nbformat>=4.4->nbconvert) (3.2.0)
Requirement already satisfied: ipython-genutils in c:\users\narsingha.addepalli\anaconda3\lib\site-packages (from nbformat>=4.4->nbconvert) (0.2.0)
Requirement already satisfied: attrs>=17.4.0 in c:\users\narsingha.addepalli\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.4->nbconvert) (21.2.0)
Requirement already satisfied: setuptools in c:\users\narsingha.addepalli\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.4->nbconvert) (58.0.4)
Requirement already satisfied: pyrsistent>=0.14.0 in c:\users\narsingha.addepalli\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.4->nbconvert) (0.18.0)
Requirement already satisfied: six>=1.11.0 in c:\users\narsingha.addepalli\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.4->nbconvert) (1.16.0)
Requirement already satisfied: webencodings in c:\users\narsingha.addepalli\anaconda3\lib\site-packages (from bleach->nbconvert) (0.5.1)
Requirement already satisfied: packaging in c:\users\narsingha.addepalli\anaconda3\lib\site-packages (from bleach->nbconvert) (21.0)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\narsingha.addepalli\anaconda3\lib\site-packages (from packaging->bleach->nbconvert) (3.0.4)

In [4]:
inputdata=pd.read_csv(r'C:\Users\Narsingha.Addepalli\OneDrive - Neudesic\Learning\scaler\businesscase\delhivery_data.csv')

# Exploratory Data Analysis

In [5]:
inputdata.head(5)

,data,trip_creation_time,route_schedule_uuid,route_type,trip_uuid,source_center,source_name,destination_center,destination_name,od_start_time,...,cutoff_timestamp,actual_distance_to_destination,actual_time,osrm_time,osrm_distance,factor,segment_actual_time,segment_osrm_time,segment_osrm_distance,segment_factor
0,training,2018-09-20 02:35:36.476840,thanos::sroute:eb7bfc78-b351-4c0e-a951-fa3d5c3...,Carting,trip-153741093647649320,IND388121AAA,Anand_VUNagar_DC (Gujarat),IND388620AAB,Khambhat_MotvdDPP_D (Gujarat),2018-09-20 03:21:32.418600,...,2018-09-20 04:27:55,10.435660,14.0,11.0,11.9653,1.272727,14.0,11.0,11.9653,1.272727
1,training,2018-09-20 02:35:36.476840,thanos::sroute:eb7bfc78-b351-4c0e-a951-fa3d5c3...,Carting,trip-153741093647649320,IND388121AAA,Anand_VUNagar_DC (Gujarat),IND388620AAB,Khambhat_MotvdDPP_D (Gujarat),2018-09-20 03:21:32.418600,...,2018-09-20 04:17:55,18.936842,24.0,20.0,21.7243,1.200000,10.0,9.0,9.7590,1.111111
2,training,2018-09-20 02:35:36.476840,thanos::sroute:eb7bfc78-b351-4c0e-a951-fa3d5c3...,Carting,trip-153741093647649320,IND388121AAA,Anand_VUNagar_DC (Gujarat),IND388620AAB,Khambhat_MotvdDPP_D (Gujarat),2018-09-20 03:21:32.418600,...,2018-09-20 04:01:19.505586,27.637279,40.0,28.0,32.5395,1.428571,16.0,7.0,10.8152,2.285714
3,training,2018-09-20 02:35:36.476840,thanos::sroute:eb7bfc78-b351-4c0e-a951-fa3d5c3...,Carting,trip-153741093647649320,IND388121AAA,Anand_VUNagar_DC (Gujarat),IND388620AAB,Khambhat_MotvdDPP_D (Gujarat),2018-09-20 03:21:32.418600,...,2018-09-20 03:39:57,36.118028,62.0,40.0,45.5620,1.550000,21.0,12.0,13.0224,1.750000
4,training,2018-09-20 02:35:36.476840,thanos::sroute:eb7bfc78-b351-4c0e-a951-fa3d5c3...,Carting,trip-153741093647649320,IND388121AAA,Anand_VUNagar_DC (Gujarat),IND388620AAB,Khambhat_MotvdDPP_D (Gujarat),2018-09-20 03:21:32.418600,...,2018-09-20 03:33:55,39.386040,68.0,44.0,54.2181,1.545455,6.0,5.0,3.9153,1.200000

In [6]:
inputdata.shape

(144867, 24)

In [7]:
inputdata.columns

Index(['data', 'trip_creation_time', 'route_schedule_uuid', 'route_type',
       'trip_uuid', 'source_center', 'source_name', 'destination_center',
       'destination_name', 'od_start_time', 'od_end_time',
       'start_scan_to_end_scan', 'is_cutoff', 'cutoff_factor',
       'cutoff_timestamp', 'actual_distance_to_destination', 'actual_time',
       'osrm_time', 'osrm_distance', 'factor', 'segment_actual_time',
       'segment_osrm_time', 'segment_osrm_distance', 'segment_factor'],
      dtype='object')

In [8]:
#drop rows with missing values
inputdata.dropna()

,data,trip_creation_time,route_schedule_uuid,route_type,trip_uuid,source_center,source_name,destination_center,destination_name,od_start_time,...,cutoff_timestamp,actual_distance_to_destination,actual_time,osrm_time,osrm_distance,factor,segment_actual_time,segment_osrm_time,segment_osrm_distance,segment_factor
0,training,2018-09-20 02:35:36.476840,thanos::sroute:eb7bfc78-b351-4c0e-a951-fa3d5c3...,Carting,trip-153741093647649320,IND388121AAA,Anand_VUNagar_DC (Gujarat),IND388620AAB,Khambhat_MotvdDPP_D (Gujarat),2018-09-20 03:21:32.418600,...,2018-09-20 04:27:55,10.435660,14.0,11.0,11.9653,1.272727,14.0,11.0,11.9653,1.272727
1,training,2018-09-20 02:35:36.476840,thanos::sroute:eb7bfc78-b351-4c0e-a951-fa3d5c3...,Carting,trip-153741093647649320,IND388121AAA,Anand_VUNagar_DC (Gujarat),IND388620AAB,Khambhat_MotvdDPP_D (Gujarat),2018-09-20 03:21:32.418600,...,2018-09-20 04:17:55,18.936842,24.0,20.0,21.7243,1.200000,10.0,9.0,9.7590,1.111111
2,training,2018-09-20 02:35:36.476840,thanos::sroute:eb7bfc78-b351-4c0e-a951-fa3d5c3...,Carting,trip-153741093647649320,IND388121AAA,Anand_VUNagar_DC (Gujarat),IND388620AAB,Khambhat_MotvdDPP_D (Gujarat),2018-09-20 03:21:32.418600,...,2018-09-20 04:01:19.505586,27.637279,40.0,28.0,32.5395,1.428571,16.0,7.0,10.8152,2.285714
3,training,2018-09-20 02:35:36.476840,thanos::sroute:eb7bfc78-b351-4c0e-a951-fa3d5c3...,Carting,trip-153741093647649320,IND388121AAA,Anand_VUNagar_DC (Gujarat),IND388620AAB,Khambhat_MotvdDPP_D (Gujarat),2018-09-20 03:21:32.418600,...,2018-09-20 03:39:57,36.118028,62.0,40.0,45.5620,1.550000,21.0,12.0,13.0224,1.750000
4,training,2018-09-20 02:35:36.476840,thanos::sroute:eb7bfc78-b351-4c0e-a951-fa3d5c3...,Carting,trip-153741093647649320,IND388121AAA,Anand_VUNagar_DC (Gujarat),IND388620AAB,Khambhat_MotvdDPP_D (Gujarat),2018-09-20 03:21:32.418600,...,2018-09-20 03:33:55,39.386040,68.0,44.0,54.2181,1.545455,6.0,5.0,3.9153,1.200000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144862,training,2018-09-20 16:24:28.436231,thanos::sroute:f0569d2f-4e20-4c31-8542-67b86d5...,Carting,trip-153746066843555182,IND131028AAB,Sonipat_Kundli_H (Haryana),IND000000ACB,Gurgaon_Bilaspur_HB (Haryana),2018-09-20 16:24:28.436231,...,2018-09-20 21:57:20,45.258278,94.0,60.0,67.9280,1.566667,12.0,12.0,8.1858,1.000000
144863,training,2018-09-20 16:24:28.436231,thanos::sroute:f0569d2f-4e20-4c31-8542-67b86d5...,Carting,trip-153746066843555182,IND131028AAB,Sonipat_Kundli_H (Haryana),IND000000ACB,Gurgaon_Bilaspur_HB (Haryana),2018-09-20 16:24:28.436231,...,2018-09-20 21:31:18,54.092531,120.0,76.0,85.6829,1.578947,26.0,21.0,17.3725,1.238095
144864,training,2018-09-20 16:24:28.436231,thanos::sroute:f0569d2f-4e20-4c31-8542-67b86d5...,Carting,trip-153746066843555182,IND131028AAB,Sonipat_Kundli_H (Haryana),IND000000ACB,Gurgaon_Bilaspur_HB (Haryana),2018-09-20 16:24:28.436231,...,2018-09-20 21:11:18,66.163591,140.0,88.0,97.0933,1.590909,20.0,34.0,20.7053,0.588235
144865,training,2018-09-20 16:24:28.436231,thanos::sroute:f0569d2f-4e20-4c31-8542-67b86d5...,Carting,trip-153746066843555182,IND131028AAB,Sonipat_Kundli_H (Haryana),IND000000ACB,Gurgaon_Bilaspur_HB (Haryana),2018-09-20 16:24:28.436231,...,2018-09-20 20:53:19,73.680667,158.0,98.0,111.2709,1.612245,17.0,27.0,18.8885,0.629630
144866,training,2018-09-20 16:24:28.436231,thanos::sroute:f0569d2f-4e20-4c31-8542-67b86d5...,Carting,trip-153746066843555182,IND131028AAB,Sonipat_Kundli_H (Haryana),IND000000ACB,Gurgaon_Bilaspur_HB (Haryana),2018-09-20 16:24:28.436231,...,2018-09-20 16:24:28.436231,70.039010,426.0,95.0,88.7319,4.484211,268.0,9.0,8.8088,29.777778

In [9]:
type(inputdata.columns)

pandas.core.indexes.base.Index

In [13]:
def simpleeda1(inputdf):
    for x in inputdf.columns:
        print(x,len(inputdf[x]),type(inputdf[x]),type(inputdf[x][0]))
        print(inputdf[x].value_counts())
simpleeda1(inputdata)

data 144867 <class 'pandas.core.series.Series'> <class 'str'>
training    104858
test         40009
Name: data, dtype: int64
trip_creation_time 144867 <class 'pandas.core.series.Series'> <class 'str'>
2018-09-28 05:23:15.359220    101
2018-10-02 06:05:53.086094    101
2018-09-27 04:47:19.425867    101
2018-09-22 04:55:04.835022    101
2018-09-29 05:04:57.639067    101
                             ...
2018-09-27 18:08:18.207639      1
2018-09-28 17:31:07.690205      1
2018-09-29 14:56:33.655170      1
2018-09-19 04:35:44.776558      1
2018-09-14 17:04:32.989471      1
Name: trip_creation_time, Length: 14817, dtype: int64
route_schedule_uuid 144867 <class 'pandas.core.series.Series'> <class 'str'>
thanos::sroute:4029a8a2-6c74-4b7e-a6d8-f9e069fbcea9    1812
thanos::sroute:0456b740-1dad-4929-bbe0-87d8843f5a10    1608
thanos::sroute:dca6268f-741a-4d1a-b1b0-aab13095a366    1605
thanos::sroute:a1b25549-1e77-498f-8538-00292e5bd5a2    1285
thanos::sroute:de5e208e-7641-45e6-8100-4d9fb1e5720d    1280
                                                       ...
thanos::sroute:d563d17e-2123-40a4-9eec-40018966caba       1
thanos::sroute:036f372d-28d8-4d19-877c-6277077ad09e       1
thanos::sroute:e00eb6aa-d792-4b28-81fa-fdee413ef326       1
thanos::sroute:889b9cf5-da6a-48ce-b3bd-6983c8090164       1
thanos::sroute:404cbabf-d2a5-4e46-bf79-8b3c518f082b       1
Name: route_schedule_uuid, Length: 1504, dtype: int64
route_type 144867 <class 'pandas.core.series.Series'> <class 'str'>
FTL        99660
Carting    45207
Name: route_type, dtype: int64
trip_uuid 144867 <class 'pandas.core.series.Series'> <class 'str'>
trip-153811219535896559    101
trip-153846035308581166    101
trip-153802363942560700    101
trip-153759210483476123    101
trip-153819749763881430    101
                          ...
trip-153807169820740041      1
trip-153815586768995663      1
trip-153823299365493206      1
trip-153733174477629450      1
trip-153694467298919626      1
Name: trip_uuid, Length: 14817, dtype: int64
source_center 144867 <class 'pandas.core.series.Series'> <class 'str'>
IND000000ACB    23347
IND562132AAA     9975
IND421302AAG     9088
IND411033AAA     4061
IND501359AAE     3340
                ...
IND741121AAA        1
IND207123AAA        1
IND242001AAA        1
IND222001AAA        1
IND741101AAB        1
Name: source_center, Length: 1508, dtype: int64
source_name 144867 <class 'pandas.core.series.Series'> <class 'str'>
Gurgaon_Bilaspur_HB (Haryana)            23347
Bangalore_Nelmngla_H (Karnataka)          9975
Bhiwandi_Mankoli_HB (Maharashtra)         9088
Pune_Tathawde_H (Maharashtra)             4061
Hyderabad_Shamshbd_H (Telangana)          3340
                                         ...
Shahjhnpur_NavdaCln_D (Uttar Pradesh)        1
Soro_UttarDPP_D (Orissa)                     1
Kayamkulam_Bhrnikvu_D (Kerala)               1
Krishnanagar_AnadiDPP_D (West Bengal)        1
Faridabad_Old (Haryana)                      1
Name: source_name, Length: 1498, dtype: int64
destination_center 144867 <class 'pandas.core.series.Series'> <class 'str'>
IND000000ACB    15192
IND562132AAA    11019
IND421302AAG     5492
IND501359AAE     5142
IND712311AAA     4892
                ...
IND520011AAA        1
IND741201AAC        1
IND400705AAA        1
IND110046AAA        1
IND504215AAA        1
Name: destination_center, Length: 1481, dtype: int64
destination_name 144867 <class 'pandas.core.series.Series'> <class 'str'>
Gurgaon_Bilaspur_HB (Haryana)        15192
Bangalore_Nelmngla_H (Karnataka)     11019
Bhiwandi_Mankoli_HB (Maharashtra)     5492
Hyderabad_Shamshbd_H (Telangana)      5142
Kolkata_Dankuni_HB (West Bengal)      4892
                                     ...
Hyd_Trimulgherry_Dc (Telangana)          1
Vijayawada (Andhra Pradesh)              1
Baghpat_Barout_D (Uttar Pradesh)         1
Mumbai_Sanpada_CP (Maharashtra)          1
Basta_Central_DPP_1 (Orissa)             1
Name: destination_name, Length: 1468, dtype: int64
od_start_time 144867 <class 'pandas.core.series.Series'> <class 'str'>
2018-09-21 18:37:09.322207    81
2018-10-03 04:55:30.039225    79
2018-09-30 05:56:48.299467    79
2018-09-26 05:33:10.899941    79
2018-09-14 07:13:24.396869    79
                              ..
2018-09-25 04:58:40.930230     1
2018-09-22 05:19:27.704727     1
2018-09-25 09:05:19.576386     1
2018-09-20 02:16:44.645390     1
2018-09-27 02:59:59.877566     1
Name: od_start_time, Length: 26369, dtype: int64
od_end_time 144867 <class 'pandas.core.series.Series'> <class 'str'>
2018-09-24 09:59:15.691618    81
2018-10-05 11:15:01.115906    79
2018-10-02 10:36:25.970169    79
2018-09-28 12:13:41.675546    79
2018-09-16 17:00:03.263746    79
                              ..
2018-09-25 13:57:24.614624     1
2018-09-22 06:11:51.820645     1
2018-09-25 15:47:35.535055     1
2018-09-20 04:04:45.620456     1
2018-09-27 15:47:50.386008     1
Name: od_end_time, Length: 26369, dtype: int64
start_scan_to_end_scan 144867 <class 'pandas.core.series.Series'> <class 'numpy.float64'>
110.0     459
72.0      424
99.0      411
95.0      405
86.0      399
         ...
1076.0      1
22.0        1
905.0       1
3361.0      1
2706.0      1
Name: start_scan_to_end_scan, Length: 1915, dtype: int64
is_cutoff 144867 <class 'pandas.core.series.Series'> <class 'numpy.bool_'>
True     118749
False     26118
Name: is_cutoff, dtype: int64
cutoff_factor 144867 <class 'pandas.core.series.Series'> <class 'numpy.int64'>
22      13157
9       12378
44       8334
18       8263
66       5795
        ...
245         1
734         1
1149        1
412         1
275         1
Name: cutoff_factor, Length: 501, dtype: int64
cutoff_timestamp 144867 <class 'pandas.core.series.Series'> <class 'str'>
2018-09-24 05:19:20           40
2018-09-24 05:19:21           33
2018-09-14 05:29:26           19
2018-09-24 07:21:24           18
2018-09-14 02:35:24           17
                              ..
2018-09-27 01:15:55            1
2018-09-26 08:20:38            1
2018-09-26 07:32:28            1
2018-09-26 05:57:51            1
2018-09-20 16:24:28.436231     1
Name: cutoff_timestamp, Length: 93180, dtype: int64
actual_distance_to_destination 144867 <class 'pandas.core.series.Series'> <class 'numpy.float64'>
100.282892    2
19.122553     2
44.552586     2
27.297724     2
23.955638     2
             ..
18.495678     1
9.380550      1
10.583412     1
9.162213      1
70.039010     1
Name: actual_distance_to_destination, Length: 144515, dtype: int64
actual_time 144867 <class 'pandas.core.series.Series'> <class 'numpy.float64'>
32.0      1443
36.0      1420
30.0      1350
38.0      1329
42.0      1241
          ...
2709.0       1
2608.0       1
2910.0       1
2870.0       1
2980.0       1
Name: actual_time, Length: 3182, dtype: int64
osrm_time 144867 <class 'pandas.core.series.Series'> <class 'numpy.float64'>
21.0      2414
20.0      2361
18.0      2253
22.0      2147
17.0      2098
          ...
1560.0       1
1614.0       1
1130.0       1
1250.0       1
1312.0       1
Name: osrm_time, Length: 1531, dtype: int64
osrm_distance 144867 <class 'pandas.core.series.Series'> <class 'numpy.float64'>
48.0394     11
11.2300      5
11.3233      4
12.5416      4
39.8109      4
            ..
23.9719      1
55.8507      1
28.7254      1
307.6147     1
88.7319      1
Name: osrm_distance, Length: 138046, dtype: int64
factor 144867 <class 'pandas.core.series.Series'> <class 'numpy.float64'>
2.000000    2351
1.500000    1278
1.666667     830
1.750000     667
1.333333     599
            ...
1.922049       1
1.710396       1
1.923513       1
1.918675       1
4.484211       1
Name: factor, Length: 45641, dtype: int64
segment_actual_time 144867 <class 'pandas.core.series.Series'> <class 'numpy.float64'>
24.0      6188
26.0      5479
30.0      4903
27.0      4439
23.0      4401
          ...
869.0        1
517.0        1
540.0        1
1847.0       1
1104.0       1
Name: segment_actual_time, Length: 747, dtype: int64
segment_osrm_time 144867 <class 'pandas.core.series.Series'> <class 'numpy.float64'>
16.0      11483
17.0      10856
18.0       8734
19.0       6925
15.0       6846
          ...
169.0         1
163.0         1
204.0         1
156.0         1
1032.0        1
Name: segment_osrm_time, Length: 214, dtype: int64
segment_osrm_distance 144867 <class 'pandas.core.series.Series'> <class 'numpy.float64'>
0.0000     1536
25.6081       8
22.6267       8
58.2708       7
26.6974       7
           ...
13.6619       1
0.7952        1
8.1647        1
10.8209       1
8.8088        1
Name: segment_osrm_distance, Length: 113799, dtype: int64
segment_factor 144867 <class 'pandas.core.series.Series'> <class 'numpy.float64'>
 2.000000     6001
 1.500000     4637
 1.000000     2371
 1.666667     2370
-1.000000     2347
              ...
 1.844444        1
 1.380000        1
 4.103448        1
 2.614458        1
 29.777778       1
Name: segment_factor, Length: 5675, dtype: int64

In [14]:
inputdata.describe()

,start_scan_to_end_scan,cutoff_factor,actual_distance_to_destination,actual_time,osrm_time,osrm_distance,factor,segment_actual_time,segment_osrm_time,segment_osrm_distance,segment_factor
count,144867.000000,144867.000000,144867.000000,144867.000000,144867.000000,144867.000000,144867.000000,144867.000000,144867.000000,144867.00000,144867.000000
mean,961.262986,232.926567,234.073372,416.927527,213.868272,284.771297,2.120107,36.196111,18.507548,22.82902,2.218368
std,1037.012769,344.755577,344.990009,598.103621,308.011085,421.119294,1.715421,53.571158,14.775960,17.86066,4.847530
min,20.000000,9.000000,9.000045,9.000000,6.000000,9.008200,0.144000,-244.000000,0.000000,0.00000,-23.444444
25%,161.000000,22.000000,23.355874,51.000000,27.000000,29.914700,1.604264,20.000000,11.000000,12.07010,1.347826
50%,449.000000,66.000000,66.126571,132.000000,64.000000,78.525800,1.857143,29.000000,17.000000,23.51300,1.684211
75%,1634.000000,286.000000,286.708875,513.000000,257.000000,343.193250,2.213483,40.000000,22.000000,27.81325,2.250000
max,7898.000000,1927.000000,1927.447705,4532.000000,1686.000000,2326.199100,77.387097,3051.000000,1611.000000,2191.40370,574.250000

In [10]:
#get data with training data only
inputtrainingdata=inputdata[inputdata.data=='training']

In [11]:
inputtrainingdata.shape

(104858, 24)

In [ ]:
#Data Transformation
#Change date time data in str to time - assuming all columns with 'time' in them are of datetime nature
print(inputdata.dtypes['trip_creation_time'],'data type for this column prior to changing the dtype')
# inputdata['trip_creation_time'].astype('datetime64[ns]')
# print(inputdata.dtypes['trip_creation_time'],'data type for this column after to changing the dtype')
print(type(inputdata['trip_creation_time'].str.extract(r"(\d{10})")))
print(inputdata['trip_creation_time'].str.extract(r"(\d{100})"))

# inputdata['trip_creation_time_date']=pd.to_datetime(inputdata['trip_creation_time'].str.extract(r"(\d{10})"), format='%y%m%d') 
# print(inputdata.dtypes['trip_creation_time_date'],'data type for this column after to changing the dtype')

In [ ]:
#Simple EDA to check distribution of integer columns
def simpleeda(inputdf):
    for x in inputdf.columns:
        print(x,len(inputdf[x]),type(inputdf[x]),type(inputdf[x][0]))
#         if type(inputdf[x][0])=='int' or type(inputdf[x][0])=='float64':
        if inputdf.dtypes[x]=='float' or inputdf.dtypes[x]=='int':
            print('here')
            mpl.hist(inputdf[x],bins=10,histtype='bar')
#             mpl.title("histogram")
#             mpl.xlabel("bin number")
#             mpl.ylabel("values")
#             mpl.show()
simpleeda(inputdata)

In [ ]:
mpl.hist(inputdata['factor'])

# Feature Extraction

In [21]:
#lets look at the values
inputdata['destination_name']

0         Khambhat_MotvdDPP_D (Gujarat)
1         Khambhat_MotvdDPP_D (Gujarat)
2         Khambhat_MotvdDPP_D (Gujarat)
3         Khambhat_MotvdDPP_D (Gujarat)
4         Khambhat_MotvdDPP_D (Gujarat)
                      ...
144862    Gurgaon_Bilaspur_HB (Haryana)
144863    Gurgaon_Bilaspur_HB (Haryana)
144864    Gurgaon_Bilaspur_HB (Haryana)
144865    Gurgaon_Bilaspur_HB (Haryana)
144866    Gurgaon_Bilaspur_HB (Haryana)
Name: destination_name, Length: 144867, dtype: object

In [31]:
getstatematch='[^(?)]*'
result=re.search(getstatematch,inputdata['destination_name'][0])
print(result)

<re.Match object; span=(0, 20), match='Khambhat_MotvdDPP_D '>

In [30]:
# def use_regex(input_text):
#     pattern = re.compile(r"[^)]*", re.IGNORECASE)
#     return pattern.match(input_text)
# use_regex(inputdata['destination_name'][0])

In [26]:
type(inputdata['destination_name'])

pandas.core.series.Series

Converting string to datetime format for trip_creation_time

In [32]:
#visually inspect the data
inputdata['trip_creation_time']

0         2018-09-20 02:35:36.476840
1         2018-09-20 02:35:36.476840
2         2018-09-20 02:35:36.476840
3         2018-09-20 02:35:36.476840
4         2018-09-20 02:35:36.476840
                     ...
144862    2018-09-20 16:24:28.436231
144863    2018-09-20 16:24:28.436231
144864    2018-09-20 16:24:28.436231
144865    2018-09-20 16:24:28.436231
144866    2018-09-20 16:24:28.436231
Name: trip_creation_time, Length: 144867, dtype: object

In [35]:
#convert from string format to date time format
len(inputdata['trip_creation_time'])
x=inputdata['trip_creation_time']
print(type(x),x)
inputdata['trip_creation_time'].str.extract(r"(\d{10})")

<class 'pandas.core.series.Series'> 0         2018-09-20 02:35:36.476840
1         2018-09-20 02:35:36.476840
2         2018-09-20 02:35:36.476840
3         2018-09-20 02:35:36.476840
4         2018-09-20 02:35:36.476840
                     ...
144862    2018-09-20 16:24:28.436231
144863    2018-09-20 16:24:28.436231
144864    2018-09-20 16:24:28.436231
144865    2018-09-20 16:24:28.436231
144866    2018-09-20 16:24:28.436231
Name: trip_creation_time, Length: 144867, dtype: object

          0
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
...     ...
144862  NaN
144863  NaN
144864  NaN
144865  NaN
144866  NaN

[144867 rows x 1 columns]

In [38]:
#convert from string format to date time format by taking 1 value
len(inputdata['trip_creation_time'][0])
x=inputdata['trip_creation_time'][0]
print(type(x),x)
singleval=inputdata['trip_creation_time'][0].str
singleval_new=singleval.extract(r"(\d{10})")

<class 'str'> 2018-09-20 02:35:36.476840

AttributeError: 'str' object has no attribute 'str'

In [40]:
type(inputdata['od_start_time'][0])

str